div.text-primary.well(style="")
	b
		marquee(style="font-size:22px;") Welcome To Kota Station Staff Management Application
div
	strong This Application Includes :
	<br>
	<br>
div
	span 1. Laundry Management Module 
	<br>
	span 3. Attendance Management Module
	<br>
	span 2. Running Room Management Module
	<br>
